:host{
  display: block;
  background: #ffffff;
  color: black;
  padding: 8px;
}
polyfill-next-selector { content: ':host > *' }
::content > * {
  display: block;
}
polyfill-next-selector { content: ':host > [caption]' }
::content > [caption] {
  font-size: 12pt;
  margin: 0;
}
#caption-wrap{
	margin-top: 4px;
	text-align: center;
}